.task-card {
  width: 100%;
  height: 65px;
  background: var(--n-d-very-dark-desat-blue);
  border-bottom: 1px solid var(--n-d-very-dark-grayish-blue);
  align-items: center;
  position: relative;
  padding: 0 1.78em;
  cursor: pointer;
}

.task-card:first-child {
  border-radius: 5px 5px 0 0;
}

.task-circle {
  width: 25px;
  height: 25px;
  border: 2px solid var(--n-d-very-dark-grayish-blue);
  border-radius: 50%;
  margin-right: 1em;
  position: relative;
  overflow: hidden; 
  z-index: 1;
}

.task-tick{
  width: 100%;
  height: 100%;
  background: url("../assets/icons/icon-check.svg") no-repeat;
  background-position: center;
  margin: 0 0.05em;
  display: none;
}

.show{
  display: block;
  z-index: -1;
  position: relative;
}

.task-circle-fill {
  border-radius: 100%; 
  opacity: 0.8;
  background: linear-gradient(hsl(280, 87%, 65%), hsl(192, 100%, 67%));  
}

.task-circle:hover, .task-circle-fill {
  border-radius: 100%; 
  background: linear-gradient(hsl(280, 87%, 65%), hsl(192, 100%, 67%));  
}

.task-cross{
  position: absolute;
  right: 2em;
  width: 25px;
  height: 25px;
  background: url("../assets/icons/icon-cross.svg") no-repeat;
  background-position: center;
}

.task-content {
  margin-top: 0.25em;
  color: var(--n-d-light-grayish-blue);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.task-content-complete{
  text-decoration-line: line-through;
  color: var(--n-d-very-dark-grayish-blue);
}

.task-content:hover{
  opacity: 0.8;
}

.navigation {
  width: 100%;
  height: 65px;
  background: var(--n-d-very-dark-desat-blue);
  border-radius: 0 0 5px 5px;
  align-items: center;
  justify-content: space-between;
  font-size: .9em;
  padding: 0 1.78em;
  color: var(--n-d-very-dark-grayish-blue);
}

.navigation > p, .tabs > p{
    cursor: pointer;
}

.tabs{
    gap: 1em;
}

.active{
  color: var(--p-bright-blue)
}